__pycache__
.pytest_cache
*.egg-info
.vscode/
.cursor/
.kiro/
.windsurf/
.windsurfrules
.venv/
.torrents/
dist/
build/

test.py
smoked.db*
config.py
config.toml
accounts.json
salmon/web/static/specs
!.gitkeep
.python-version
.venv
