name: Lint

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  ruff:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Run Ruff
        uses: astral-sh/ruff-action@v3

  pyright:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: Install dependencies
        run: uv sync && uv pip install basedpyright

      - name: Run Pyright Type Check
        run: uv run basedpyright
